.modal
    .modal__content.modal__content--active
        .modal__text
            p.modal__title
                | Зарегистрируйтесь на курс
                span.modal__title--accent
                    |  сейчас
            p.modal__description
                |  Участвуйте в розыгрыше
                span.modal__description--accent  набора с подарками
                |  на сумму
                span.modal__description--accent  75 000 ₽
        .modal__button.modalBtn
            .modalBtn__receive
                a.modalBtn__receive--button.button--fill.button(href="https://luckygroup.link/bc_bot_l1") Принять участие
                    i.icons.icons__arrow-right.icons--clean