- var program = [{title: '1. Основы партнерского маркетинга', textItems: ['Принцип работы партнерского маркетинга','Участники партнерского маркетинга: рекламодатель, вебмастер, клиент','Модели оплаты в CPA и главные термины']},{title: '2. Вертикали в партнерском маркетинге', textItems: ['Что такое вертикаль в арбитраже','Основные вертикали и их особенности','Рекомендации по выбору вертикали для новичков']},{title: '3. Офферы в партнерском маркетинге', textItems: ['Виды офферов','По каким характеристикам выбирать офферы','Советы по выбору офферов для новичков']},{title: '4. Источники трафика и форматы рекламы', textItems: ['Преимущества, недостатки и особенности основных источников в контекстной, таргетированной и нативной рекламе','Бесплатные и альтернативные источники рекламы в интернете','Форматы рекламы в арбитраже']},{title: '5. Инструменты вебмастера', textItems: ['Зачем арбитражнику нужны дополнительные инструменты','Основные инструменты арбитражника: трекеры, спай-сервисы, антидетекты и другие','Скидки и триалы на инструменты от партнеров LuckyCenter']},{title: '6. Экономика вебмастера', textItems: ['Основные показатели в арбитраже: ROI, CR, EPC','Расходы арбитражника: как просчитать  бюджет и выйти в плюс','Аналитика и домонетизация: как лить трафик эффективнее']},{title: '7. Практика: настройка и запуск рекламной кампании', textItems: ['Почему залив трафика с нативной рекламы на новостную витрину — лучший вариант для новичка','Пошаговая инструкция по запуску трафика с LuckyAds на LuckyFeed','Рекомендации по ведению и оптимизации РК от медиабаинговой команды LuckyTeam']},]

.program
    h2.program__title.programTitle
        .programTitle__bg.animatedMarking
            svg(width='415' height='74' viewBox='0 0 415 74' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M309.797 72.5864C335.66 64.8375 416.636 48.1988 413.547 25.8022C409.687 -2.19359 265.594 0.757771 182.622 3.35883C99.6489 5.95989 18.9627 15.7107 2.84333 36.1654C-13.2761 56.62 108.442 91.4157 407.881 54.299' stroke='#4790FD' stroke-width='2' stroke-linecap='round')

        span.programTitle__accent
            | Программа
            | &nbsp;
        | курса
    .program__description.programAccordion
        .programAccordion__container
            each val in program
                .programAccordion__item
                    header.programAccordion__header
                        h3.programAccordion__title= val.title
                        .programAccordion__icon.programIcon
                            svg.programIcon__item(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M19 11H13V5C13 4.447 12.552 4 12 4C11.448 4 11 4.447 11 5V11H5C4.448 11 4 11.447 4 12C4 12.553 4.448 13 5 13H11V19C11 19.553 11.448 20 12 20C12.552 20 13 19.553 13 19V13H19C19.552 13 20 12.553 20 12C20 11.447 19.552 11 19 11' fill='#231F20')
                                mask#mask0_1231_4137(style='mask-type:alpha' maskUnits='userSpaceOnUse' x='4' y='4' width='16' height='16')
                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M19 11H13V5C13 4.447 12.552 4 12 4C11.448 4 11 4.447 11 5V11H5C4.448 11 4 11.447 4 12C4 12.553 4.448 13 5 13H11V19C11 19.553 11.448 20 12 20C12.552 20 13 19.553 13 19V13H19C19.552 13 20 12.553 20 12C20 11.447 19.552 11 19 11' fill='white')
                                g(mask='url(#mask0_1231_4137)')
                                    rect(width='24' height='24')
                    .programAccordion__content
                        each text in val.textItems
                            p.programAccordion__description= text