.animatedMarking {
  &--active {
    path {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 4s forwards;
    }
    @keyframes dash {
      to {
        stroke-dashoffset: 0;
      }
    }
  }
}
