.forWhoBlock
    .forWhoBlock__titleWrapper.titleWrapper.animatedMarking
        svg.titleWrapper__textMarked(width='415' height='74' viewBox='0 0 415 74' fill='none' xmlns='http://www.w3.org/2000/svg')
            path.path(d='M309.797 72.5864C335.66 64.8375 416.636 48.1988 413.547 25.8022C409.687 -2.19359 265.594 0.757771 182.622 3.35883C99.6489 5.95989 18.9627 15.7107 2.84333 36.1654C-13.2761 56.62 108.442 91.4157 407.881 54.299' stroke='#4790FD' stroke-width='2' stroke-linecap='round')
        h2.titleWrapper__title
            span.titleWrapper__colored Кому подойдет
            |  курс?
    .forWhoBlock__textContainer.explanation
        .explanation__item.clause
            h3.clause__subtitle
                span.clause__colored Новички
                |  в интернет-рекламе
            .clause__text
                p.clause__paragraph Разберитесь в арбитраже трафика и научитесь лить трафик, даже если никогда не слышали о сфере CPA.
                p.clause__paragraph Попадите в арбитражное комьюнити, получите поддержку от опытных вебмастеров и освойте новый источник заработка.
        .explanation__item.clause
            h3.clause__subtitle
                span.clause__colored Интернет-маркетологи
                br.break
                |  с опытом
            .clause__text
                p.clause__paragraph Попробуйте свои навыки контекстологов и таргетологов
                    br.break
                    |  в CPA: узнайте о принципах работы с вертикалями, офферами и инструментами арбитражника.
                p.clause__paragraph Научитесь получать профит с залива на новостную витрину за 1 день.