.platformTitle {
  font-family: $font-dewi;
  color: $color-white;
  font-size: 44px;
  font-weight: $font-weight-bold;
  @include tablet-wide {
    font-size: 36px;
  }
  @include phone-wide {
    font-size: 28px;
    margin-left: 0;
  }
  @include phone {
    font-size: 24px;
    padding: 0 10px;
  }
}