.footerRegistration {
  text-align: center;
  padding: 120px 10px 150px;
  box-sizing: border-box;
  margin: 0 auto;

  @include tablet-wide {
    max-width: 612px;
  }
  @include phone-wide {
    padding: 10px 10px 40px;
  }
  &--bg {
    background: url(../images/general/footerRegistration__bg.svg) right top no-repeat;
    @include tablet-wide {
     background-position: left 35% bottom -100px;
    }
  }

  &__title {
    font-family: $font-dewi;
    font-weight: $font-weight-bold;
    font-size: 44px;
    line-height: 1.3;
    margin: 0;
    text-align: center;
    @include tablet {
      font-size: 36px;
      line-height: 130%;
    }
    @include phone-wide {
      font-size: 28px;
    }
    @include phone {
      font-size: 23px;
    }
  }

  &__subtitle {
    font-family: $font-monsterrat;
    font-weight: $font-weight-regular;
    font-size: 24px;
    line-height: 150%;
    color: #23272F;
    margin: 0;
    padding: 24px 0 56px;
    @include tablet {
      font-size: 20px;
      line-height: 150%;
    }
    @include phone {
      font-size: 18px;
    }
  }

  &__attention {
    color: $color-dodger-blue;
    font-weight: $font-weight-bold;
  }

  &__button {

  }
}