.footerRegistration
    h2.footerRegistration__title
        | Зарегистрируйтесь сейчас
        br.break
        |  и получите
        span.footerRegistration__attention  на платформе
    p.footerRegistration__subtitle
        | Участвуйте в розыгрыше&nbsp;
        span.footerRegistration__attention набора с подарками&nbsp;
        | на сумму&nbsp;
        span.footerRegistration__attention 75 000 ₽
    a.footerRegistration__button.button.button--fill(href="https://luckygroup.link/bc_bot_l2" target='_blank') Участвовать в курсе
        i.icons.icons__arrow-right.icons--clean