.result
    h2.result__title.resultTitle
        span.resultTitle__acent
            | Что получите
        br
        | в результате курса
    .result__description
        .resultBlock.result__item
            i(class='resultBlock__icons resultIcons resultIcons__cursor')
            h5.resultBlock__itemHeading
                |  Разберетесь с 0 в теории арбитража трафика
            p.resultBlock__itemText
                |  Узнаете о вертикалях, офферах, источниках, и том, как оптимизировать рекламную кампанию, чтобы всегда
                br.break
                |  лить в плюс.
        .resultBlock.result__item
            i(class='resultBlock__icons resultIcons resultIcons__hand')
            h5.resultBlock__itemHeading
                |  Начнете арбитражить на практике
            p.resultBlock__itemText
                |  Научитесь настраивать трафик
                br.break
                |  из нативной рекламной сети LuckyAds на новостную витрину LuckyFeed и получите рекомендации по эффективному ведению рекламной кампании
                br.break
                |  от медиабаинговой команды LuckyTeam.
        .resultBlock.result__item
            i(class='resultBlock__icons resultIcons resultIcons__key')
            h5.resultBlock__itemHeading
                | Получите сертификат
                br.break
                |  и новую перспективную специальность
            p.resultBlock__itemText
                |  После успешного завершения курса вы получите сертификат
                br.break
                |  об окончании обучения
                br.break
                |  и возможность получить стажировку в LuckyTeam
                br.break
                |  или у наших партнеров.
