.format
    h2.format__title
        span.format__title--attention Эффективный формат&nbsp;
        | обучения
    p.format__subtitle Мы тщательно продумали процесс обучения, чтобы вы усвоили информацию максимально эффективно
    .format__blocks
        .format__item.formatBlock.format__item-0
            img.formatBlock__photo(src='static/images/general/microlearning.png' title='Microlearning')
            h4.formatBlock__title Микрообучение
            p.formatBlock__description
                | Контент курса структурирован так, чтобы видеоуроки длились 5–15 минут. При такой длительности вы не будете уставать и терять концентрацию во время просмотра урока
        .format__item.formatBlock.format__item-1
            img.formatBlock__photo(src='static/images/general/videoClass.png' title='Longreads for video tutorials')
            h4.formatBlock__title Лонгриды к видеоурокам
            p.formatBlock__description
                | После каждого урока вас ждёт текстовый лонгрид. Так вы сможете не только переслушать, но и перечитать материал
                br.break
                |  и не пропустить важное
        .format__item.formatBlock.format__item-2
            img.formatBlock__photo(src='static/images/general/test.png' title='Tests for each topic')
            h4.formatBlock__title Тесты по каждой теме
            p.formatBlock__description
                |  К каждой теме приложено тестирование. Тест поможет вам проверить свои знания и зафиксировать результат по изученным материалам
        .format__item.formatBlock.format__item-3
            img.formatBlock__photo(src='static/images/general/expertSupport.png' title='Expert support')
            h4.formatBlock__title Поддержка экспертов
            p.formatBlock__description
                | Вступайте в&nbsp;
                a.formatBlock__link(href='//luckygroup.link/lcchat')
                    | Telegram-чат
                span
                    |  LuckyCenter.
                    br.break
                    |  Это комьюнити вебмастеров с участием экспертов и кураторов курса, в котором вы сможете получить ответ на любой
                    br.break
                    |  вопрос об арбитраже трафика

