.headerList {
  font-size: 18px;
  line-height: 27px;
  font-family: $font-monsterrat;
  list-style-type: none;
  padding-left: 10px;
  font-weight: $font-weight-regular;
  max-width: 555px;
  @include tablet-wide {
    margin-top: 100px;
    max-width: 524px;
  }
  @include tablet {
    margin-top: 0;
    background-size: contain;
  }
  @include phone {
    font-size: 16px;
  }

  &__item:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: $color-dodger-blue;
    border-radius: 1px;
    margin: 11px 8px 4px -15px;
  }

  &__first {
    font-weight: $font-weight-bold;
  }
}